
body::-webkit-scrollbar {
    display: none;
  }
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(245, 223, 178, 0.2);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#AA8647; 
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);  */
}